/* --------- */
/*Scrollbar   */
/* --------- */

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #0E6EB8;
  border-radius: 12px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #0E6EB8;
  border-radius: 12px;
}
